<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Customer-analysis" data-toc-modified-id="Customer-analysis-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Customer analysis</a></span></li><li><span><a href="#Understanding-RFM-Segmentation" data-toc-modified-id="Understanding-RFM-Segmentation-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Understanding RFM Segmentation</a></span></li><li><span><a href="#Exploratory-Data-Analysis" data-toc-modified-id="Exploratory-Data-Analysis-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Exploratory Data Analysis</a></span><ul class="toc-item"><li><span><a href="#Group-BY" data-toc-modified-id="Group-BY-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Group BY</a></span><ul class="toc-item"><li><span><a href="#Groupement-pour-calculer-montant" data-toc-modified-id="Groupement-pour-calculer-montant-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Groupement pour calculer montant</a></span></li><li><span><a href="#Groupement-pour-calculer-Fréquence" data-toc-modified-id="Groupement-pour-calculer-Fréquence-3.1.2"><span class="toc-item-num">3.1.2&nbsp;&nbsp;</span>Groupement pour calculer Fréquence</a></span></li></ul></li></ul></li><li><span><a href="#Working-with-cohorts" data-toc-modified-id="Working-with-cohorts-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Working with cohorts</a></span></li></ul></div>

# Customer analysis

In this exercise, you work for a consulting firm as data analyst. One of your clients asked for help to understand its customer buying behavior. 

You dispose of a dataset from its e-commerce website with 13 features : 

- order_id : ID if the order
- order_status : Status of the order
- order_purchase_timestamp : Timestamp of the purchase
- order_delivered_customer_date : Timestamp of the delivery to the customer
- payment_type : Method of payment
- payment_installments : Number of payments for this purchase (does NOT affect the payment value)
- payment_value : Total amount of the payment
- review_score : Score given by the client, ranges from 1 to 5
- customer_unique_id : ID of the customer who purchased
- customer_zip_code_prefix : Zip code of the customer
- customer_city : City of the customer
- customer_state : State of the customer
- product_category_name_english : Name of the product category in English

With this data, you have to analyze customer behavior with two techniques:

- Customer segmentation with RFM
- Cohort analysis from Sept 2016 to October 2018.

At the end, you have to present your analysis with actionable insights to improve the customer relationship of your client.

# Understanding RFM Segmentation

❓ What are the 3 metrics used in an RFM Segmentation? (hint : What does RFM stand for?)

**Recency** – How recently did the customer purchase?  
**Frequency** – How often do they purchase?  
**Monetary Value** – How much do they spend?

❓ Can you summarize what each metric measures in one sentence?

How recently did the customer purchase?  
How often do they purchase?  
How much do they spend?

❓ What data / or type of data do you need for each metric ?

**Customer id**  
**Purchase orders**  
**Dates of order**

Let's explore the dataset!

# Exploratory Data Analysis

Load the dataset and start an Exploratory Data Analysis

In [1]:
import pandas as pd
import plotly.express as px

In [3]:
df = pd.read_csv('db_customers.csv')
df

,order_id,order_status,order_purchase_timestamp,order_delivered_customer_date,payment_type,payment_installments,payment_value,review_score,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,product_category_name_english
0,e481f51cbdc54678b7cc49136f2d6af7,delivered,2017-10-02 10:56:33,2017-10-10 21:25:13,credit_card,1.0,18.12,4,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,housewares
1,e481f51cbdc54678b7cc49136f2d6af7,delivered,2017-10-02 10:56:33,2017-10-10 21:25:13,voucher,1.0,2.00,4,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,housewares
2,e481f51cbdc54678b7cc49136f2d6af7,delivered,2017-10-02 10:56:33,2017-10-10 21:25:13,voucher,1.0,18.59,4,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,housewares
3,53cdb2fc8bc7dce0b6741e2150273451,delivered,2018-07-24 20:41:37,2018-08-07 15:27:45,boleto,1.0,141.46,4,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,perfumery
4,47770eb9100c2d0c44946d9cf07ec65d,delivered,2018-08-08 08:38:49,2018-08-17 18:06:29,credit_card,3.0,179.12,5,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,auto
...,...,...,...,...,...,...,...,...,...,...,...,...,...
105378,9c5dedf39a927c1b2549525ed64a053c,delivered,2017-03-09 09:54:05,2017-03-17 15:08:01,credit_card,3.0,85.08,5,6359f309b166b0196dbf7ad2ac62bb5a,12209,sao jose dos campos,SP,health_beauty
105379,63943bddc261676b46f01ca7ac2f7bd8,delivered,2018-02-06 12:58:58,2018-02-28 17:37:56,credit_card,3.0,195.00,4,da62f9e57a76d978d02ab5362c509660,11722,praia grande,SP,baby
105380,83c1379a015df1e13d02aae0204711ab,delivered,2017-08-27 14:46:43,2017-09-21 11:24:17,credit_card,5.0,271.01,5,737520a9aad80b3fbbdad19b66b37b30,45920,nova vicosa,BA,home_appliances_2
105381,11c177c8e97725db2631073c19f07b62,delivered,2018-01-08 21:28:27,2018-01-25 23:32:54,credit_card,4.0,441.16,2,5097a5312c8b157bb7be58ae360ef43c,28685,japuiba,RJ,computers_accessories
105382,66dea50a8b16d9b4dee7af250b4be1a5,delivered,2018-03-08 20:57:30,2018-03-16 13:08:30,debit_card,1.0,86.86,5,60350aa974b26ff12caad89e55993bd6,83750,lapa,PR,health_beauty

❓ Which features should be formated in datetime ? 
Convert them

**order_purchase_timestamp**  
**order_delivered_customer_date**

In [ ]:
df["order_purchase_timestamp"]= pd.to_datetime(df["order_purchase_timestamp"])
df["order_delivered_customer_date"]= pd.to_datetime(df["order_delivered_customer_date"])

❓ Which features are Categorical ? List the unique values on these features.

In [ ]:
df.info()

Categorical features:  
**order_status**  
**payment_type**  
**review_score**  
**payment_installments**  
**customer_zip_code_prefix**  
**customer_city**  
**customer_state**  
**product_category_name_english**

In [ ]:
print(df["order_status"].value_counts())
print(df["payment_type"].value_counts())
print(df["review_score"].value_counts())
print(df["payment_installments"].value_counts())
print(df["customer_zip_code_prefix"].value_counts())
print(df["customer_city"].value_counts())
print(df["customer_state"].value_counts())
print(df["product_category_name_english"].value_counts())

❓ Check for missing values. What do you notice ?

In [ ]:
df.isnull().sum()

In [ ]:
df[df["payment_type"].isnull()]

**There are missing values!**

In [ ]:
df[df["product_category_name_english"].isnull()].head()

In [ ]:
df[df["order_delivered_customer_date"].isnull()].head()

❓ Can you find an explanation for the missing `order_delivered_customer_date` ? 
(hint : Check for non delivered orders)

**Not yet delivered**

❓ What are the proportions of each `order_status` ?

In [ ]:
df["order_status"].value_counts()

In [ ]:
fig = px.pie(df["order_status"], values=df["order_status"].value_counts(), names=df["order_status"].unique())
fig.show()

❓ Which `order_status` do you think should be removed from the analysis

We keep :  
- **delivered**  
- **shipped**

In [ ]:
delivered_shipped = df[(df["order_status"]=="delivered") | (df["order_status"]=="shipped")]

In [ ]:
delivered_shipped

❓ What feature would you choose in the e-commerce dataset provided?

**order_id**  
**order_purchase_timestamp**  
**payment_value**  
**customer_unique_id**

## Group BY

In [ ]:
df2 = delivered_shipped[["customer_unique_id","order_id","order_purchase_timestamp","payment_value"]]

❓ What method would you use to group the data?

**groupby**  
**pivot_table**  
**agg**

❓ What feature would you use to group the data?

**customer_unique_id**

Group the data. (Hint: you can carry out the grouping one by one and then merge, or even better use the .agg method and get a robust grouping in one line of code)

### Groupement pour calculer montant

In [ ]:
montant = df2.groupby(['customer_unique_id']).agg(Montant=pd.NamedAgg(column='payment_value', aggfunc='sum')).reset_index()
montant

### Groupement pour calculer Fréquence

In [ ]:
frequence=df2.groupby(["customer_unique_id"]).max()
frequence["frequence"] = frequence.groupby(["order_id"]).count()
frequence

In [ ]:
frequence["Fréquence"].unique()

In [ ]:
dftest=df2.groupby(['customer_unique_id']).agg(Montant=pd.NamedAgg(column='payment_value', aggfunc='sum'),
                                               Fréquence=pd.NamedAgg(column='order_id', aggfunc='count')).reset_index()
dftest

In [ ]:
dftest["Fréquence"].value_counts()

What type of data is the R supposed to be? Is it in the right format? (Hint : investigate the difference between `datetime` and `timedelta`)

**INT (number of days) / No, it's a datetime**

So there is one more step to carry out before the data is ready : Calculate the recency base on the date of the purchase

❓ What is the date of the least recent purchase?

In [ ]:
min(df2["order_purchase_timestamp"])

❓What is the date of the most recent purchase?

In [ ]:
max(df2["order_purchase_timestamp"])

❓How would you calculate the recency? (hint: what date would you use to compare with the purchase date? Today? probably not...)

**most recent purchase**

Create a feature calculating the difference between `the most recent purchased + 1 day`, and `order_purchase_timestamp`.

In [ ]:
date_format = "%m/%d/%Y"
a = df2['order_purchase_timestamp']
b = max(df2['order_purchase_timestamp'])
df2['recence'] = b-a
df2['recence'] = df2['recence'].astype('timedelta64[D]')
E = df2.groupby('customer_unique_id')[["recence"]].min()

In [ ]:
df_rfm = dftest.merge(E, how = 'left', left_on='customer_unique_id', right_on='customer_unique_id')

In [ ]:
df_rfm

Now that you have created a new dataset with the right columns, explore it to understand what you created.

❓Which column is the R? The F? The M?

Now for each metric independantly, build clutsers (Hint 1: you can use `.describe()` to have insights about each metrics. Hint 2: Don't choose more than 3 clusters)

Now that you have clusters for each category, explain the different buying behaviors

# Working with cohorts

❓What is a cohort?

**A group of people with a shared characteristic.**

❓Why is it interesting to analyse cohorts ?

**It helps to separate growth metrics from engagement metrics as growth can easily mask engagement problems**

❓What data (already existing in the original dataset) do we need to build a cohort?

**order_purchase_timestamp**  
**customer_unique_id**  
**payment_value**

Build a new df with just these 3 features

In [21]:
df_c = df.copy()

In [22]:
df_c = df[[ "customer_unique_id", "order_id","order_purchase_timestamp"]]

Using the `pandas.Serie.dt.to_period()` methode, create a new feature converting `order_purchase_timestamp` in months

In [23]:
df_c["order_purchase_timestamp"]= pd.to_datetime(df_c["order_purchase_timestamp"])
df_c["order_purchase_timestamp"].dt.to_period("M")

C:\Users\Simplon\anaconda3\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

0         2017-10
1         2017-10
2         2017-10
3         2018-07
4         2018-08
           ...
105378    2017-03
105379    2018-02
105380    2017-08
105381    2018-01
105382    2018-03
Name: order_purchase_timestamp, Length: 105383, dtype: period[M]

Create a new feature called `cohort` by grouping the previous df by `customer_unique_id`, and tranforming it's minimum value in months (with the same `pandas.Serie.dt.to_period()` as before)

In [24]:
df_c["order_month"]= pd.to_datetime(df_c["order_purchase_timestamp"])
df_c["order_month"]= df_c["order_month"].dt.to_period("M")

C:\Users\Simplon\anaconda3\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [25]:
# For the teachers, To filter by only the customer that have done 2 or more purchases
df_more =pd.DataFrame(df_c.groupby('customer_unique_id').size()[df_c.groupby('customer_unique_id').size() > 1])
df_c = df_c.merge(df_more, how='left', on='customer_unique_id').rename(columns={0:'na'})

In [26]:
df_c

,customer_unique_id,order_id,order_purchase_timestamp,order_month,na
0,7c396fd4830fd04220f754e42b4e5bff,e481f51cbdc54678b7cc49136f2d6af7,2017-10-02 10:56:33,2017-10,4.0
1,7c396fd4830fd04220f754e42b4e5bff,e481f51cbdc54678b7cc49136f2d6af7,2017-10-02 10:56:33,2017-10,4.0
2,7c396fd4830fd04220f754e42b4e5bff,e481f51cbdc54678b7cc49136f2d6af7,2017-10-02 10:56:33,2017-10,4.0
3,af07308b275d755c9edb36a90c618231,53cdb2fc8bc7dce0b6741e2150273451,2018-07-24 20:41:37,2018-07,NaN
4,3a653a41f6f9fc3d2a113cf8398680e8,47770eb9100c2d0c44946d9cf07ec65d,2018-08-08 08:38:49,2018-08,NaN
...,...,...,...,...,...
105378,6359f309b166b0196dbf7ad2ac62bb5a,9c5dedf39a927c1b2549525ed64a053c,2017-03-09 09:54:05,2017-03,NaN
105379,da62f9e57a76d978d02ab5362c509660,63943bddc261676b46f01ca7ac2f7bd8,2018-02-06 12:58:58,2018-02,NaN
105380,737520a9aad80b3fbbdad19b66b37b30,83c1379a015df1e13d02aae0204711ab,2017-08-27 14:46:43,2017-08,NaN
105381,5097a5312c8b157bb7be58ae360ef43c,11c177c8e97725db2631073c19f07b62,2018-01-08 21:28:27,2018-01,NaN
105382,60350aa974b26ff12caad89e55993bd6,66dea50a8b16d9b4dee7af250b4be1a5,2018-03-08 20:57:30,2018-03,NaN

In [27]:
df_c = df_c[df_c["na"].notna()]

In [28]:
df_c

,customer_unique_id,order_id,order_purchase_timestamp,order_month,na
0,7c396fd4830fd04220f754e42b4e5bff,e481f51cbdc54678b7cc49136f2d6af7,2017-10-02 10:56:33,2017-10,4.0
1,7c396fd4830fd04220f754e42b4e5bff,e481f51cbdc54678b7cc49136f2d6af7,2017-10-02 10:56:33,2017-10,4.0
2,7c396fd4830fd04220f754e42b4e5bff,e481f51cbdc54678b7cc49136f2d6af7,2017-10-02 10:56:33,2017-10,4.0
11,299905e3934e9e181bfb2e164dd4b4f8,e69bfb5eb88e0ed6a785585b27e16dbf,2017-07-29 11:55:02,2017-07,2.0
12,299905e3934e9e181bfb2e164dd4b4f8,e69bfb5eb88e0ed6a785585b27e16dbf,2017-07-29 11:55:02,2017-07,2.0
...,...,...,...,...,...
105367,9e4accf95024aa6565ca1efcadb96752,19dba6d1e58b04e7fc820558a38ea398,2018-05-12 13:42:24,2018-05,2.0
105373,c716cf2b5b86fb24257cffe9e7969df8,9115830be804184b91f5c00f6f49f92d,2017-10-04 19:57:37,2017-10,2.0
105374,c716cf2b5b86fb24257cffe9e7969df8,9115830be804184b91f5c00f6f49f92d,2017-10-04 19:57:37,2017-10,2.0
105375,e03dbdf5e56c96b106d8115ac336f47f,aa04ef5214580b06b10e2a378300db44,2017-01-27 00:30:03,2017-01,2.0
105376,e03dbdf5e56c96b106d8115ac336f47f,aa04ef5214580b06b10e2a378300db44,2017-01-27 00:30:03,2017-01,2.0

In [29]:
df_c['cohort'] = df_c.groupby('customer_unique_id')['order_purchase_timestamp'] \
                 .transform('min') \
                 .dt.to_period('M') 
df_c

C:\Users\Simplon\anaconda3\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

,customer_unique_id,order_id,order_purchase_timestamp,order_month,na,cohort
0,7c396fd4830fd04220f754e42b4e5bff,e481f51cbdc54678b7cc49136f2d6af7,2017-10-02 10:56:33,2017-10,4.0,2017-09
1,7c396fd4830fd04220f754e42b4e5bff,e481f51cbdc54678b7cc49136f2d6af7,2017-10-02 10:56:33,2017-10,4.0,2017-09
2,7c396fd4830fd04220f754e42b4e5bff,e481f51cbdc54678b7cc49136f2d6af7,2017-10-02 10:56:33,2017-10,4.0,2017-09
11,299905e3934e9e181bfb2e164dd4b4f8,e69bfb5eb88e0ed6a785585b27e16dbf,2017-07-29 11:55:02,2017-07,2.0,2017-07
12,299905e3934e9e181bfb2e164dd4b4f8,e69bfb5eb88e0ed6a785585b27e16dbf,2017-07-29 11:55:02,2017-07,2.0,2017-07
...,...,...,...,...,...,...
105367,9e4accf95024aa6565ca1efcadb96752,19dba6d1e58b04e7fc820558a38ea398,2018-05-12 13:42:24,2018-05,2.0,2017-09
105373,c716cf2b5b86fb24257cffe9e7969df8,9115830be804184b91f5c00f6f49f92d,2017-10-04 19:57:37,2017-10,2.0,2017-10
105374,c716cf2b5b86fb24257cffe9e7969df8,9115830be804184b91f5c00f6f49f92d,2017-10-04 19:57:37,2017-10,2.0,2017-10
105375,e03dbdf5e56c96b106d8115ac336f47f,aa04ef5214580b06b10e2a378300db44,2017-01-27 00:30:03,2017-01,2.0,2017-01
105376,e03dbdf5e56c96b106d8115ac336f47f,aa04ef5214580b06b10e2a378300db44,2017-01-27 00:30:03,2017-01,2.0,2017-01

Now groupby `['cohort', 'order_month']` and aggregate by `nunique()` `customer_unique_id`

In [30]:
df_c.groupby(['cohort', 'order_month']).agg({"customer_unique_id":"nunique"}).reset_index()

      cohort order_month  customer_unique_id
0    2016-10     2016-10                  25
1    2016-10     2017-04                   1
2    2016-10     2017-07                   1
3    2016-10     2017-09                   1
4    2016-10     2017-11                   1
..       ...         ...                 ...
217  2018-07     2018-08                  44
218  2018-07     2018-09                   2
219  2018-08     2018-08                 246
220  2018-08     2018-09                   7
221  2018-08     2018-10                   2

[222 rows x 3 columns]

Finally, create a feature called `['period_number']` where you substract the `cohort` to the `order_month` and get the `'n'` attribute thanks to the `operator.attrgetter` method

In [31]:
df_c['period_number'] = (df_c.order_month - df_c.cohort).apply(attrgetter('n'))

NameError: name 'attrgetter' is not defined

Explore a cohort (for example 2017-01) and try to understand what it shows

Pivot the DataFrame using the methode : `DataFrame.pivot_table` (hint : use `'cohort'` as `index`, `'period_number'` as columns, and `'n_customers'` as `values`)

Now divide all the values (except you column 0) by the column 0 and name this new DataFrame `retention_matrix`

Plot your `retention matrix` using the code below :

In [ ]:
with sns.axes_style("white"):
    fig, ax = plt.subplots(1, 2, figsize=(12, 8), sharey=True, gridspec_kw={'width_ratios': [1, 11]})
    
    # retention matrix
    sns.heatmap(retention_matrix, 
                mask=retention_matrix.isnull(), 
                annot=True, 
                fmt='.0%', 
                cmap='RdYlGn', 
                ax=ax[1])
    ax[1].set_title('Monthly Cohorts: User Retention', fontsize=16)
    ax[1].set(xlabel='# of periods',
              ylabel='')

    # cohort size
    cohort_size_df = pd.DataFrame(cohort_size).rename(columns={0: 'cohort_size'})
    white_cmap = mcolors.ListedColormap(['white'])
    sns.heatmap(cohort_size_df, 
                annot=True, 
                cbar=False, 
                fmt='g', 
                cmap=white_cmap, 
                ax=ax[0])

    fig.tight_layout()

What do you notice?

How could we have know that before? (hint : Calculate the percentage of customers who have ordered more than once)

Here is the code for the analysis of customers who have bought more than once :

In [ ]:
#start from your df created doing the RFM segmentation
df_c = df[['customer_unique_id', 'order_id',
           'order_purchase_timestamp']].drop_duplicates()

df_c['order_month'] = df_c['order_purchase_timestamp'].dt.to_period('M')

df_more = pd.DataFrame(df_c.groupby('customer_unique_id').size()[
                       df_c.groupby('customer_unique_id').size() > 1])

df_c = df_c.merge(df_more, how='left', on='customer_unique_id').rename(
    columns={0: 'na'})

df_c = df_c[df_c['na'].notna()]
df_c['cohort'] = df_c.groupby('customer_unique_id')['order_purchase_timestamp'] \
    .transform('min') \
    .dt.to_period('M')

df_cohort = df_c.groupby(['cohort', 'order_month']) \
    .agg(n_customers=('customer_unique_id', 'nunique')) \
    .reset_index(drop=False)
df_cohort['period_number'] = (
    df_cohort.order_month - df_cohort.cohort).apply(attrgetter('n'))
cohort_pivot = df_cohort.pivot_table(index='cohort',
                                     columns='period_number',
                                     values='n_customers')
cohort_size = cohort_pivot.iloc[:, 0]
retention_matrix = cohort_pivot.divide(cohort_size, axis=0)

with sns.axes_style("white"):
    fig, ax = plt.subplots(1, 2, figsize=(12, 8), sharey=True, gridspec_kw={
                           'width_ratios': [1, 11]})

    # retention matrix
    sns.heatmap(retention_matrix,
                mask=retention_matrix.isnull(),
                annot=True,
                fmt='.0%',
                cmap='RdYlGn',
                ax=ax[1])
    ax[1].set_title('Monthly Cohorts: User Retention', fontsize=16)
    ax[1].set(xlabel='# of periods',
              ylabel='')

    # cohort size
    cohort_size_df = pd.DataFrame(cohort_size).rename(
        columns={0: 'cohort_size'})
    white_cmap = mcolors.ListedColormap(['white'])
    sns.heatmap(cohort_size_df,
                annot=True,
                cbar=False,
                fmt='g',
                cmap=white_cmap,
                ax=ax[0])

    fig.tight_layout()